<script>
$( document ).ready(
	populate_parrots
);

function populate_parrots() {
	load_slack_info();
	load_parrots();
}


function load_slack_info() {
	console.log( "load_slack_info" );
	$.getJSON( "/slack_team_info", function( data ) {
		$("#slack_team").html( "<a href='http://" + data.team.domain + ".slack.com/'>" + data.team.name + " Slack</a>" );
		$("#slack_team_icon").html( "<img src='" + data.team.icon.image_original + "' />" );
	});
}

function load_parrots() {
	console.log( "load_parrots" );
	$.getJSON( "/parrots", function( data ) {
		$.each( data.emoji, function( name, url ) {
			$("#parrot-table > tbody").append(
				"<tr class='parrot-row' id='" + name + "'>" +
					"<td class='parrot-name'>" + name + "</td>" +
					"<td class='parrot-image'><img src='" + url + "' /></td>" +
					"<td class='emoji-image'></td>" +
					"<td class='status'><span class='status-unknown'><img src='/img/ajax-loader.gif' /> Checking...</span></td>" +
				"</tr>"
			);
			console.log( "load_parrots - Added: " + name );
		});
		console.log( "load_parrots - Loaded all Parrots from Git" );
		load_emoji();
	});
}

function load_emoji() {
	console.log( "load_emoji" );
	$.getJSON( "/emoji", function( data ) {
		$.each( data.emoji, function( name, url ) {
			if ($("#" + name + "> .emoji-image").length) {
				$("#" + name + "> .emoji-image").append(
					"<img src='" + url + "' />"
				);

				console.log( "load_emoji - /emoji - Added: " + name );

				// compare the parrots
				parrot_url = $("#" + name + "> .parrot-image img").attr('src');
				emoji_url  = $("#" + name + "> .emoji-image img").attr('src');
				console.log( "load_emoji - /emoji  - Comparing: "
					+ name + " " + parrot_url + " to " + emoji_url );


				// at this point we know that there IS a slack parrot, so update status
				$("#" + name + "> .status").html(
					"<span class='status-checking'><img src='/img/ajax-loader.gif' /> Checking...</span>"
				);


				$.getJSON(
					"/compare",
					{
						"file1" : parrot_url,
						"file2" : emoji_url
					},
					function( data ) {
						console.log( "load_emoji - /compare" );

						if ( data.status == "SAME" ) {
							$("#" + name + "> .status").html(
								"<img src='http://cultofthepartyparrot.com/parrots/parrot.gif' />"
							);
						} else {
							$("#" + name + "> .status").html(
								"<img src='http://cultofthepartyparrot.com/parrots/sadparrot.gif' />"
							);
						}

						$("#" + name + "> .status").append(
							data.status
						);
					}
				);
			}
		});
		console.log( "load_emoji - /emoji  - Loaded all emoji from Slack" );

		// All parrots have been loaded, so replace all missing with text
		$( ".status-unknown" ).html("<img src='http://cultofthepartyparrot.com/parrots/sadparrot.gif' /> MISSING");
	});
}


</script>
<style>
	#slack_team_info {
		position: fixed;
		top: 0;
		left: 0;
	}
	#slack_team_icon img {
		max-height: 200px;
	}

	#sirocco {
		position: fixed;
		bottom: 0;
		left: 0;
	}

	#parrot-table img {
		max-height: 32px;
		max-width: 32px;
	}
</style>
<div id="slack_team_info">
	<h1>Party Parrot Emoji <small id="slack_team"></small></h1>
	<div id="slack_team_icon"></div>
</div>
<div id="sirocco"><img src="http://cultofthepartyparrot.com/sirocco.gif" /></div>
<div class="row">
	<div class="col-md-4 col-md-offset-8">
		<table class="table table-striped" id="parrot-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Official</th>
					<th>Slack</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
